/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2014, 11:20:02 AM
    Author     : Student
*/

body 
{
    background-color: darkgrey;
    font-family: monospace;
}

nav a 
{
    color: darkslategrey; 
}

#current-link
{
    text-decoration: none; 
}

.uppercase
{
    text-transform: uppercase;
    font-size: 42px;
}

h1
{
    text-align: center; 
}

h2
{
   text-align: center; 
   font-size: 35px;
}

p
{
   text-align: center; 
   font-size: 25px;
}

header
{
   font-family: monospace; 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
        
}

img.displayed
{
    display: block; 
    margin-left: auto;
    margin-right: auto;
}


