/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2014, 11:20:02 AM
    Author     : Student
*/

body 
{
    background-color: darkgrey;
    font-family: monospace;
}

nav a 
{
    color: darkslategrey; //sets the color of the Navigation bar to light purple
}

#current-link
{
    text-decoration: none; //makes it so the link to the page on eis currenly on is not underlined
}

.uppercase
{
    text-transform: uppercase;
    font-size: 42px;
}

img
{
    width: 450px;
    height: auto;
    margin-top: 20px;
    margin-left: 450px;
    
}

h1
{
    text-align: center;
}

h2
{
   text-align: center;
   font-size: 35px;
}

p
{
   text-align: center;
   font-size: 25px;
}

header
{
   font-family: monospace;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
        
}



