/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2014, 11:19:49 AM
    Author     : Student
*/

body 
{
    background-color: darkgrey; 
    font-family: monospace;
}

nav a 
{
    color: darkslategrey; 
}

#current-link
{
    text-decoration: none;
}

.uppercase
{
    text-transform: uppercase;
    font-size: 42px;
}

h1
{
    text-align: center; 
    
}

h2
{
   text-align: center; 
   font-size: 35px;
}

p
{
    text-align: center; 
    font-size: 25px;
}

header
{
   font-family: monospace; 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

img.displayed
{
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

ul
{
    list-style: none; 
    font-size: 25px;
    font-family: monospace;
    border: inset black 2px;
    text-align: center;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 550px;
    margin-right: 550px;
}